{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/fotocancha_list.css' %}">
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" href="{% url 'servicios_profesionales_list' %}"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height=40" class="centered-add centered-add-hover"> </a>
    </div>
    <h1 class="module-title">Fotos del Profesional: {{ profesional.nombres|title }}</h1>
    {% if fotos|length < 4 %}
        <h3 class="module-title">Agregar fotos:
            <a href="{% url 'servicios-profesionales-foto-crear' profesional.id %}" class="add-new-object"><img alt="+" src="{% static 'static/add_icon.svg' %}" width="25" height="25" class="centered-add centered-add-hover"></a>
        </h3>
    {% endif %}
    {% if fotos|length >= 4 %} <h3 class="module-title">Has llegado al limite de fotos: 4</h3> {% endif %}
    {% if fotos|length == 0 %}
        <h5 class="module-title">
            <img alt="+" src="{% static 'static\sin_foto_icon.png' %}" class="centered-add centered-add-hover" width="150" height="150">
            <br>
            Sin fotos
        </h5>
    {% else %}

        <div id="carouselControlesFotos" class="carousel slide container" data-ride="carousel">
        <div class="carousel-inner">
            {% if fotos|length > 0  %}
                <div class="carousel-item active">
                    <img class="d-block w-100" src={{ fotos.0.imagen.url }}  alt="Primera foto">
                    <form method="post" action="{% url 'servicios-profesionales-foto-delete' profesional.id fotos.0.id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-borrar" value="Borrar Foto">
                    </form>
                </div>
            {% endif %}
            {% if fotos|length > 1  %}
                <div class="carousel-item">
                    <img class="d-block w-100" src={{ fotos.1.imagen.url }} alt="Segunda foto">
                    <form method="post" action="{% url 'servicios-profesionales-foto-delete' profesional.id fotos.1.id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-borrar" value="Borrar Foto">
                    </form>
                </div>
            {% endif %}
            {% if fotos|length > 2  %}
                <div class="carousel-item">
                    <img class="d-block w-100" src={{ fotos.2.imagen.url }} alt="Tercera foto">
                    <form method="post" action="{% url 'servicios-profesionales-foto-delete' profesional.id fotos.2.id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-borrar" value="Borrar Foto">
                    </form>
                </div>
            {% endif %}
            {% if fotos|length > 3  %}
                <div class="carousel-item">
                    <img class="d-block w-100" src={{ fotos.3.imagen.url }} alt="Cuarta foto">
                    <form method="post" action="{% url 'servicios-profesionales-foto-delete' profesional.id fotos.3.id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-borrar" value="Borrar Foto">
                    </form>
                </div>
            {% endif %}
        </div>
        <a class="carousel-control-prev" href="#carouselControlesFotos" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControlesFotos" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    {% endif %}



{% endblock %}

