{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_update.css' %}">
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <h1 class="module-title">Agregar Fotos</h1>
    <form action="{% url 'servicios-profesionales-foto-crear' profesional.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="centric">
            <tr>
                <td>{{ form.imagen|as_crispy_field }}</td>
            </tr>
            <tr>
                {{ form.errors }}
                {{ form.non_field_errors  }}
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary update-button">Agregar foto</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

