{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_update.css' %}">
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <h1 class="module-title">Crear el perfil de un profesional</h1>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="card text-center" style="width: 70rem;">
                <div class="card-body">
                    <form action="{% url 'servicios-profesionales-create' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.nombres|as_crispy_field }}
                                {{ form.apellido_paterno|as_crispy_field }}
                                {{ form.apellido_materno|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.precio|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.descripcion|as_crispy_field }}
                                {{ form.errors }}
                                {{ form.non_field_errors  }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary update-button">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

