{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_list.css' %}">
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" href="{% url 'home-enterprise-view' %}"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <h1 class="module-title">Lista de Profesionales</h1>
    <a href="{% url 'servicios-profesionales-create' %}" class="add-new-object"><img alt="+" src="{% static 'static/add_icon.svg' %}" width="50" height="50" class="centered-add centered-add-hover"></a>
    <div class="row">
        {% for profesional in profesionales %}
            <div class="card">
                <div class="card-header">
                    <h3 class="module-title"><b>{{ profesional.nombres }} {{ profesional.apellido_paterno }} {{ profesional.apellido_materno }}</b></h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Precio: S/.{{ profesional.precio }}</p>
                    <p class="card-text last-text">Nro fotos: {{ profesional.numero_fotos }}</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'servicios-profesionales-edit' profesional.id %}" class="btn btn-primary" >Editar</a>
                        <a href="{% url 'servicios-profesionales-fotos-list' profesional.id %}" class="btn btn-primary" >Ver fotos</a>
                        <a href="{% url 'servicios-profesionales-dias-por-semana' profesional.id %}" class="btn btn-primary" >Horarios</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}

