{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card" style="color:#000000">
        <h3 class="card-header text-center" >Registro</h3>
        <div class="card-body">
            <form method="post" id="register_admin_user_Form" data-provincias-url="{% url 'ajax_cargar_provincias' %}" data-distritos-url="{% url 'ajax_cargar_distritos' %}" novalidate>
                {% csrf_token %}
                <table class="table" style="width: 80rem" >
                    <tr>
                        <th colspan="2" class="text-center table-bordered" style="width: 50%"><h5>Datos del Negocio</h5></th>
                    </tr>
                    <tr>
                        <td>
                            {{ form.nombre|as_crispy_field }}
                            {{ form.nombre.errors }}
                            {{ form.ruc|as_crispy_field }}
                            {{ form.ruc.errors }}
                            {{ form.tipo_servicio|as_crispy_field }}
                            {{ form.tipo_servicio.errors }}
                            {{ form.departamento|as_crispy_field }}
                            {{ form.departamento.errors }}
                            {{ form.provincia|as_crispy_field }}
                            {{ form.provincia.errors }}
                            {{ form.distrito|as_crispy_field }}
                            {{ form.distrito.errors }}
                        </td>
                        <td>
                            {{ form.telefono|as_crispy_field }}
                            {{ form.telefono.errors }}
                            {{ form.representante|as_crispy_field }}
                            {{ form.representante.errors }}
                            {{ form.hora_apertura|as_crispy_field }}
                            {{ form.hora_apertura.errors }}
                            {{ form.hora_cierre|as_crispy_field }}
                            {{ form.hora_cierre.errors }}
                            {{ form.direccion|as_crispy_field }}
                            {{ form.direccion.errors }}
                        </td>
                    </tr>
                </table>
                {% for error in form.non_field_errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <button class="btn btn-primary" type="submit" style="display: block; margin: 0 auto;"> Subir </button>
            </form>

            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script>
               $('#id_departamento').change(function() {
                  var url = $('#register_admin_user_Form').attr('data-provincias-url');
                  var departamentoId = $(this).val();
                   $.ajax({
                    url: url,
                    data: {
                      'departamento': departamentoId
                    },
                    success: function(response) {
                      $('#id_provincia').html(response);
                    }
                  });
               });

               $('#id_provincia').change(function() {
                  var url = $('#register_admin_user_Form').attr('data-distritos-url');
                  var provinciaId = $(this).val();
                   $.ajax({
                    url: url,
                    data: {
                      'provincia': provinciaId
                    },
                    success: function(response) {
                      $('#id_distrito').html(response);
                    }
                  });
               });
             </script>
        </div>
    </div>
</div>
{% endblock %}