{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for servicio in servicios %}
            <div class="col-sm-4" style="padding-bottom: 10px;">
                <div class="card bg-secondary text-center">
                    {% if servicio.imagen %}
                        <img class="card-img-top" src="{{ servicio.imagen.url }}" alt="Card image cap" style="width: 85%; height: 85%; margin: 0 auto; " title="{{ servicio.tipo_servicio }}">
                    {% else %}
                        <img class="card-img-top" src="{% static 'static/empty-white-box.svg' %}" style="width: 85%; height: 85%; margin: 0 auto; padding-top: 5%; padding-bottom: 5%;" title="Sin Imagen">
                    {% endif %}
                    <div class="card-header">
                        <h5 class="card-title">{{ servicio.tipo_servicio|title }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}