.card{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.card-body, .card-title {
    margin-right: auto;
    margin-left: auto;
    horiz-align: center;
    /*position: absolute;*/
}
.card-title {
    text-align: center !important;
    position: center;
    justify-content: center;
    width: 50%;
}
.btn-primary {
    height:30px;
    width:100px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
    /*vertical-align: middle;*/
    padding-top: 1px;
    padding-bottom: 14px;
}

.btn-login-register {
    height:30px;
    width: 40%;
    position:absolute;
    left:50%;
    margin:0;
    /*vertical-align: middle;*/
    padding-top: 1px;
    padding-bottom: 14px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-login-login {
    height:30px;
    width: 40%;
    position:absolute;
    margin:10px;
    right:50%;
    /*vertical-align: middle;*/
    padding-top: 1px;
    padding-bottom: 14px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.h1 {
    text-align: center;
}
.login-table {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}