{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<head>
    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    {{ form.media }}            {# Adds date-picker required JS and CSS #}
</head>

<head>
    <title>Registro de Contagios</title>
</head>
<body>
<div class="d-flex justify-content-center">
    <div class="card">
        <h3 class="card-header text-center" >Registro de Contagios</h3>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <b>
                {{ usuario.nombres|title }} {{ usuario.apellido_paterno|title }}  {{ usuario.apellido_materno|title }}
                </b>
                <p>
                </p>
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo del Cliente</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{user.email}}" disabled="disabled">
                    <small id="emailHelp" class="form-text text-muted">Nunca comparta su correo con nadie.</small>
                </div>
                <p>
                </p>
                {{ form.fecha_inicio|as_crispy_field }}
                {{ form.fecha_inicio.errors }}
                {{ form.fecha_posible_contagio|as_crispy_field }}
                {{ form.fecha_posible_contagio.errors }}
                {{ form.observaciones|as_crispy_field }}
                {{ form.observaciones.errors }}
               {% for error in form.non_field_errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <button class="btn btn-primary" type="submit"> Crear </button>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}