{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card">
        <h3 class="card-header text-center" >Registro</h3>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <table class="table" style="width: 90rem" >
                    <tr>
                        <th colspan="2" class="text-center table-bordered" style="width: 90%"><h5>Datos personales</h5></th>
                    </tr>
                    <tr>
                        <td>
                            {{ form.email_user|as_crispy_field }}
                            {{ form.email_user.errors }}
                            {{ form.nombres|as_crispy_field }}
                            {{ form.nombres.errors }}
                            {{ form.apellido_paterno|as_crispy_field }}
                            {{ form.apellido_paterno.errors }}
                        </td>
                        <td>
                            {{ form.apellido_materno|as_crispy_field }}
                            {{ form.apellido_materno.errors }}
                            {{ form.dni|as_crispy_field }}
                            {{ form.dni.errors }}
                            {{ form.telefono|as_crispy_field }}
                            {{ form.telefono.errors }}
                        </td>
                    </tr>
                </table>
                {% for error in form. %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <button class="btn btn-primary" type="submit"> Subir </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}