{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card" style="color:#000000">
        <h3 class="card-header text-center" >Editar Contraseña</h3>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <table class="table" style="width: 80rem" >
                    <tr>
                        <th colspan="2" class="text-center table-bordered" style="width: 50%"><h5>Datos Personales</h5></th>
                    </tr>
                    <tr>
                        <td>
                            {{ form.email|as_crispy_field }}
                            {{ form.email.errors }}
                            {{ form.password1|as_crispy_field }}
                            {{ form.password1.errors }}
                            {{ form.password2|as_crispy_field }}
                            {{ form.password2.errors}}
                        </td>
                    </tr>
                </table>
                {% for error in form.non_field_errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <button class="btn btn-primary" type="submit" style="display: block; margin: 0 auto;"> Actualizar Contraseña </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
