{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_styles %}
        <link rel="stylesheet" href="{% static 'css/home/home_questionaire.css' %}">
{% endblock %}

{% block content %}
<head>
    <title>Consultas</title>
</head>
<body>
<div id="section-1" style="background: url({% static 'static/index/main_background.jpg' %}) no-repeat fixed 50% 0; background-size: cover; color: #fff;">
    <div class="d-flex justify-content-center">
        <div class="card" style="color:#000000">
            <h3 class="card-header text-center" >Consultas</h3>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.email|as_crispy_field }}
                    {{ form.email.errors }}
                    {{ form.mensaje|as_crispy_field }}
                    {{ form.mensaje.errors }}
                    {{ form.tipo_servicio|as_crispy_field }}
                    {{ form.tipo_servicio.errors }}
                    <button class="btn btn-primary" type="submit" style="display: block; margin: 0 auto;"> Subir </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}