{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="parallax" id="section-1" style="background: url({% static 'static/index/main_background.jpg' %}) no-repeat fixed 50% 0; background-size: cover; color: #fff;">
    <div class="card text-center vertical-horizontal-alignment">
        <div class="card-body" style="color: black"><p>Correo activado correctamente.</p></div>
        <div class="card-footer"><a href="{% url 'site-login' %}" class="btn btn-primary" >Regresar</a></div>
    </div>
</div>
{% endblock %}
