{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/customauth/home_login.css' %}">
{% endblock %}
{% block content %}
<div class="parallax" id="section-1" style="background: url({% static 'static/index/main_background.jpg' %}) no-repeat fixed 50% 0; background-size: cover; color: #fff;">
    <h1 align="center" class="h1">Ingresa a tu perfil</h1>
    <div class="d-flex justify-content-center">
        <div class="card" style="color:#000000">
            <div class="card-body">
{#                <h5 class="card-title">Login</h5>#}
                <form action="/site-login/" method="post">
                    {% csrf_token %}
                    <div>
                        <table class="login-table">
                            <tr>
                                <td>{{ form.username|as_crispy_field }}</td>
                                <td>{{ form.username.errors }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password|as_crispy_field }}</td>
                                <td>{{ form.password.errors }}</td>
                            </tr>
                            {% if form.errors %}
                                <tr>
                                    <div class="alert alert-danger">
                                        <strong >{{ form.non_field_errors |escape }}</strong>
                                    </div>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>
                                    <button type="submit" href="#" class="btn btn-login-login">Ingresar</button>
                                </td>

                                <td>
                                    <a href="{% url 'registro-nuevos-usuario-administrador' %}" class="btn btn-login-register" style="margin-top: 10px;">Registrar</a>
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>


                <br>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}