{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add centered-add-hover"> </a>
    </div>
    <h1 class="module-title">Edicion</h1>
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table">
                            <tr>
                                <td>
                                    <label for="{{ form.imagen_pagina_principal.id_for_label }}">Imagen de pagina principal</label>
                                </td>
                                <td>
                                    {{ form.imagen_pagina_principal }}
                                </td>
                                {% if form.imagen_pagina_principal.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for error in form.imagen_pagina_principal.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.color_paginas_secundarias.id_for_label }}">Color</label>
                                </td>
                                <td>
                                    {{ form.color_paginas_secundarias }}
                                </td>
                                {% if form.color_paginas_secundarias.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for error in form.color_paginas_secundarias.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.icono_logo_empresa.id_for_label }}">Logo</label>
                                </td>
                                <td>
                                    {{ form.icono_logo_empresa }}
                                </td>
                                {% if form.icono_logo_empresa.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for error in form.icono_logo_empresa.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <button type="submit" class="btn btn-primary update-button">Guardar</button>
                                </td>
                            </tr>
                        </table>
                        {% if non_shown_errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    <li>{{ non_shown_errors }}</li>
                                </ul>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}