{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center">
            <form action="{% url 'preactivacion-email' user.pk %}" method="post">
                {% csrf_token %}
                <h3>Se ha enviado un correo a su cuenta {{ user.email }},
                    <!--
                    Todo: Crear este funcionamiento
                    si no ha recibido el correo intente nuevamente <button type="submit">aqui</button>
                    -->
                </h3>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}