{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/customauth/register_page.css' %}">
{% endblock %}

{% block content %}
<head>
    <title>Registro</title>
</head>
<body>
<div class="d-flex justify-content-center">
    <div class="card">
        <h3 class="card-header text-center" >Registro</h3>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <table class="table" style="width: 90rem" >
                    <tr>
                        <th colspan="2" class="text-center table-bordered" style="width: 90%"><h5>Datos Personales</h5></th>
                    </tr>
                    <tr>
                        <td>
                            {{ form.email|as_crispy_field }}
                            {{ form.email.errors }}
                            {{ form.password1|as_crispy_field }}
                            {{ form.password1.errors }}
                            {{ form.password2|as_crispy_field }}
                            {{ form.password2.errors}}
                            {{ form.dni|as_crispy_field }}
                            {{ form.dni.errors }}
                        </td>
                        <td>
                            {{ form.nombres|as_crispy_field }}
                            {{ form.nombres.errors }}
                            {{ form.apellido_paterno|as_crispy_field }}
                            {{ form.apellido_paterno.errors }}
                            {{ form.apellido_materno|as_crispy_field }}
                            {{ form.apellido_materno.errors }}
                            {{ form.telefono|as_crispy_field }}
                            {{ form.telefono.errors }}
                        </td>
                    </tr>
                </table>
                {% for error in form.non_field_errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <button class="btn btn-primary" type="submit"> Crear </button>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}