{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/servicios/home_enterprise.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/stars_rank.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="back-nav">
        <a style="float: left;" href="{% url 'company-search' "all" %}"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <div class="border-container-title">DATOS DE LA EMPRESA</div>
    <div class="border-container">
        <div class="row" style="padding-left: 2%; padding-right: 2%;">
            <div class="col-md-4">
                {% if empresa.logotipo %}
                    <img class="image-in-box" src="{{ empresa.logotipo.url }}" alt="">
                {% else %}
                    <img class="image-in-box" src="{% static 'static/sin_foto_icon.png' %}" alt="">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="form-group text-left">
                    <label>RAZON SOCIAL</label>
                    <input type="text" class="form-control" value="{{ empresa.ruc }} - {{ empresa.nombre }}" disabled="disabled">
                </div>
                <div class="form-group text-left">
                    <label>Dirección Principal</label>
                    <input type="text" class="form-control" value="{{ empresa.direccion }} {{ empresa.distrito.nombre }} - {{ empresa.distrito.provincia.nombre }} - {{ empresa.distrito.provincia.departamento.nombre }}" disabled="disabled">
                </div>
                <div class="form-row text-left">
                    <div class="col">
                        <label>Rubro</label>
                        <input type="text" class="form-control" value="{{ empresa.tipo_servicio.tipo_servicio }}" disabled="disabled">
                    </div>
                    <div class="col">
                        <label>Representante</label>
                        <input type="text" class="form-control" value="{{ empresa.representante }}" disabled="disabled">
                    </div>
                </div>
                <br>
                <div class="form-row text-left">
                    <div class="col">
                        <label>Hora Apertura</label>
                        <input type="text" class="form-control" value="{{ empresa.hora_apertura }}" disabled="disabled">
                    </div>
                    <div class="col">
                        <label>Hora Cierre</label>
                        <input type="text" class="form-control" value="{{ empresa.hora_cierre }}" disabled="disabled">
                    </div>
                    <div class="col">
                        <label>Teléfono</label>
                        <input type="text" class="form-control" value="{{ empresa.telefono }}" disabled="disabled">
                    </div>
                    <div class="col text-right" style="display: flex">
                        <a class="btn btn-border-container" style="bottom: 0; align-self: flex-end" href="#">VER HORARIOS</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    {% if profesionales %}
        <div class="border-container-title">PROFESIONALES</div>
        <div class="border-container">
            {% for profesional in profesionales %}
                <div class="row" style="padding-left: 2%; padding-right: 2%;">
                    <div class="col-md-3" style="height: 120px;">
                        {% if profesional.foto %}
                            <img class="image-in-box" src="{{ profesional.foto.url }}" alt="">
                        {% else %}
                            <img class="image-in-box" src="{% static 'static/sin_foto_icon.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="col-md-9 text-left" style="max-height: 100px;">
                        <p>{{ profesional.nombres|title }} {{ profesional.apellido_paterno|title }} {{ profesional.apellido_materno|title }}</p>
                        <p>{{ profesional.descripcion }}</p>
                        <table class="table">
                            <tr>
                                <td class="text-left"><a class="btn btn-border-container" href="#">VER HORARIOS</a></td>
                                <td class="text-right"><div class="rating text-left" style="padding-bottom: 0%" score="{{ profesional.redondear_puntaje }}"></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br>

            {% endfor %}
        </div>

    {% else %}
        <div class="border-container-title">Esta Empresa no cuenta con Profesionales</div>
    {% endif %}

{% endblock %}