{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
    <script src="{% static 'js/ajax_ubigeo.js' %}"></script>
{% endblock %}
{% block content %}

    <form action="" method="post" id="ajax_ubigeo" data-provincias-url="{% url 'ajax_cargar_provincias' %}" data-distritos-url="{% url 'ajax_cargar_distritos' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-2">{{ form.departamento }}</div>
            <div class="col-lg-2">{{ form.provincia }}</div>
            <div class="col-lg-2">{{ form.distrito}}</div>
            <div class="col-lg-4">{{ form.nombre_empresa }}</div>
            <div class="col-lg-2 text-center"><button type="submit" class="btn btn-primary">Buscar</button></div>
        </div>
    </form>
    {% if empresas %}
        <h2 class="module-title"><b>Resultados</b></h2>
        <table class="table table-sm" align="center" style="width: 70%;">
            {% for empresa in empresas %}
                <tr style="border-bottom: 2px solid black;">
                    <td class="align-middle module-title">
                        <b>#{{ forloop.counter }}</b>
                    </td>
                    <td class="align-middle">
                        <h4 class="list-group-item-text"><b>Ruc: </b>{{ empresa.ruc }}&emsp;</h4>
                        <h5 class="list-group-item-text"><b>Empresa: </b>{{ empresa.nombre|title }}</h5>
                    </td>
                    <td class="align-middle module-title">
                        <a href="{% url 'company-detail' empresa.id %}" class="btn btn-success">Visualizar datos</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2 class="module-title"><b>Sin resultados</b></h2>
    {% endif %}

{% endblock %}
