{% extends 'base.html' %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_list.css' %}">
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" href="{% url 'servicios_profesionales_list' %}"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <div style="vertical-align: middle">
        <br>
        <h1 class="module-title">Horario por Dia</h1>
        <br>
        <div>
            <div>
                <table align="center">
                    <tr>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                {% for dia in dias %}
                                    <a href="{% url 'servicios-profesionales-horarios-list' profesional_id dia.0 %}" class="btn-editar btn btn-info">{{ dia.1 }}</a>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

