{% extends 'base.html' %}

{% block content %}

    <div>

        <table >
            <tr>
                <th colspan="2">Edita un horario</th>
            </tr>
            <tr>
                <td>
                    Desde:
                    <br>
                    {{ form.hora_inicio }}
                </td>
                <td>
                    Hasta:
                    <br>
                    {{ form.hora_fin }}
                </td>
            </tr>
            <tr>
                <td>
                    Precio:
                </td>
                <td>
                    {{ form.precio }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary update-button">Actualizar</button>
                </td>
            </tr>
        </table>

    </div>

{% endblock %}

