{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/fotocancha_list.css' %}">
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <h1 class="module-title"> Eliminar </h1>
    <div>
        <table class="centric table">
            <tr>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Precio</th>
                <th>Accion</th>
            </tr>

            {% for horario in horarios %}
                <tr>
                    <td>{{ horario.hora_inicio }}</td>
                    <td>{{ horario.hora_fin }}</td>
                    <td>{{ horario.precio }}</td>
                    <td>
                        <form action="{% url 'servicios-profesionales-horario-delete' profesional.id dia horario.id %}" method="post">
                            {% csrf_token %}

                            <input class="btn btn-danger btn-borrar" type="submit" value="Eliminar horario">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}