{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <h1 class="module-title">Modificar horario</h1>
    <h3> <b>Seguro que desea crear este nuevo horario </b> </h3>
    {% if errors %}
        <div class="alert alert-danger">
            <strong>Se veran afectados los siguientes horarios: </strong>
            <ul>
                {% for error in errors %}
                    <li>
                        <p>Horario desde: {{ error.hora_inicio.hour }}:00:00, hasta {{ error.hora_fin.hour }}:00:00</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="form-actions">
        <form action="{% url 'servicios-profesionales-horario-create' profesional.id dia hora_inicio hora_fin precio %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Crear</button>
        </form>
        <a class="btn btn-primary" href="{% url 'servicios-profesionales-horarios-list' profesional.id dia %}"> Cancelar</a>
    </div>

{% endblock %}