{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_list.css' %}">
{% endblock %}

{% block content %}

    <div class="back-nav">
        <a style="float: left;" href="{% url 'servicios-profesionales-dias-por-semana' profesional.id %}"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <div>
        <div>
            <h1 class="module-title">Profesional: {{ profesional.nombres }}</h1>
            <h2 class="module-title">Los precios para los {{ dia }} son:
                <!-- Button trigger modal -->
                <img src="{% static 'static/add_icon.svg' %}" class="centered-add-hover" width="25" height="25" data-toggle="modal" data-target="#exampleModal">
            </h2>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{% url 'servicios-profesionales-horarios-list' profesional.id dia_str %}" method="post">
                            <div class="modal-body">

                                {% csrf_token %}

                                            {{ form.hora_inicio|as_crispy_field }}

                                            {{ form.hora_fin|as_crispy_field }}

                                            {{ form.precio|as_crispy_field }}

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary update-button">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-bordered table-striped table-sm" align="center" style="width: 55%">
            <thead class="thead-dark-theme">
            <th class="module-title">#</th>
            <th class="module-title">Desde</th>
            <th class="module-title">Hasta</th>
            <th class="module-title">Precio</th>
            </thead>
            <tbody>
            {% for hora in horas %}
                <tr>
                    <td align="center">{{ forloop.counter }}</td>
                    <td align="center">{{ hora.0 }}:00</td>
                    <td align="center">{{ hora.1 }}:00</td>
                    <td align="center">S/.{{ hora.2 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h3 class="module-title"><a class="btn btn-primary" href="{% url 'servicios-profesionales-horario-list-to-delete' profesional.id dia_str %}">Eliminar horarios</a></h3>

{% endblock %}

