.home-text-box {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    /*box-sizing: border-box;*/
    /*border: 2px solid #ccc;*/
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;

}
input::placeholder {
    font-size: 1.2em;
    font-style: italic;
    resize: none;
}
.home-questions{
    color:white;
    font-family: 'Century Gothic';
    font-size: 45px
}
.home-header-urls{
    font-family: inherit;
    color: #444444;
}