{% extends 'base.html' %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_list.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h2 class="module-title"> Confirmando reserva: </h2>
                    <table class="table">
                        <thead>
                        <th>Fecha</th>
                        <th>Profesional</th>
                        <th>Horario</th>
                        <th>Precio</th>
                        </thead>
                        <tr>
                            <td>{{ reserva.fecha }}</td>
                            <td>{{ reserva.profesional.nombres }}</td>
                            <td>{{ reserva.inicio_hora_reserva }} - {{ reserva.fin_hora_reserva }}</td>
                            <td>{{ reserva.precio_total }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="{% url 'reservas-buscador-reservas' %}" class="btn btn-danger">Cerrar</a>
                            </td>
                            <td colspan="2" align="right">
                                <form method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success module-title">Confimar</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
