{% extends 'base.html' %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_list.css' %}">
{% endblock %}

{% block content %}

    <div>
        <div>
            <div class="back-nav">
                <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
            </div>
            <h1 class="module-title">Buscador de Clientes</h1>
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <ul>
                        <li><h5>Profesional: {{ profesional.nombres|title }} {{ profesional.apellido_paterno|title }} {{ profesional.apellido_materno|title }}</h5></li>
                        <li><h5>Fecha: {{ fecha }}</h5></li>
                        <li><h5>Hora: {{ hour }}</h5></li>
                    </ul>
                </div>
            </div>
            <form action="{% url 'reservas-emailuser-search' fecha.year fecha.month fecha.day hour.hour hour.minute profesional.id %}" method="post">
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        {% csrf_token %}
                        <label for="query">Busque un cliente para la reserva</label>
                        <div class="input-group add-on">
                            <input class="form-control" placeholder="DNI, Correo Electrónico" name="query" value="{{ query }}" id="query" size="50">
                            <!-- Todo: si el performance se pone muy lento en esta parte, quitar busqueda por telefono -->
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"><img alt="<-" src="{% static 'static/search_icon.svg' %}" width="25" height="25"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div>
                {% if users %}
                    <h2 class="module-title"><b>Resultados</b></h2>
                    <table class="table table-sm" align="center" style="width: 70%;">
                        {% for user in users %}
                            <tr style="border-bottom: 2px solid black;">
                                <td class="align-middle module-title">
                                    <b>#{{ forloop.counter }}</b>
                                </td>
                                <td class="align-middle">
                                    <h4 class="list-group-item-text"><b>DNI: </b>{{ user.dni }}&emsp; <b>Email: </b>{{ user.email_user.email }}&emsp; <b>Telefono: </b>{{ user.telefono }}&emsp;</h4>
                                    <h5 class="list-group-item-text"><b>Nombre: </b>{{ user.nombres|title }} {{ user.apellido_paterno|title }} {{ user.apellido_materno|title }}</h5>
                                </td>
                                <td class="align-middle module-title">
                                    <a href="{% url 'reservas-reserva-create' fecha.year fecha.month fecha.day hour.hour hour.minute hora_fin.hour hora_fin.minute profesional.id user.email_user.id %}" class="btn btn-success">Crear</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}