{% extends 'base.html' %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/reservas/reserva_search.css' %}">
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <h1 class="module-title">Buscador de Reservas</h1>
    <form action="{% url 'reservas-buscador-reservas' %}" method="post">
        <div class="d-flex justify-content-center">
            <div class="p-2">
                {% csrf_token %}
                <div class="input-group add-on">
                    <input class="form-control" placeholder="Id o Correo Electrónico" name="query" value="{{ query }}" id="query" size="50">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"><img alt="<-" src="{% static 'static/search_icon.svg' %}" width="25" height="25"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% if reservas %}
        <h2 class="module-title"><b>Resultados</b></h2>
        <table class="table table-sm" align="center" style="width: 70%;">
            {% for reserva in reservas %}
                <tr style="border-bottom: 2px solid black;">
                    <td class="align-middle module-title ">
                        <b>#{{ forloop.counter }}</b>
                    </td>
                    </td>
                    <td>
                        <h3><b>Nro: {{ reserva.id }} <b>Estado:</b> {{ reserva.get_estado_display }}</b></h3>
                        {{ reserva.fecha }} - {{ reserva.profesional.nombres|title }}
                        <br>
                        <p>{{ reserva.inicio_hora_reserva }} - {{ reserva.fin_hora_reserva }} &emsp; S/. {{ reserva.precio_total }}</p>
                    </td>
                    <td class="align-middle module-title">
                        <div class="btn-group" role="group" aria-label="Basic example">
                        {% if reserva.estado == '1r' %}
                            <a href="{% url 'reservas-confirmar-reserva' reserva.id %}" class="btn btn-success">
                                Confirmar
                                <br>
                                Reserva
                            </a>
                        {% endif %}
                        {% if reserva.estado == '1r' %}
                            <a href="{% url 'reservas-cancelar-reserva' reserva.id %}" class="btn btn-danger">
                                Cancelar
                                <br>
                                Reserva
                            </a>
                        {% endif  %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}