{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_list.css' %}">
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <h1 class="module-title">Crear reservación para:</h1>
    <h2 class="module-title"> {{ usuario.nombres|title }} {{ usuario.apellidos|title }} </h2>
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <ul>
                <li><b>Email:</b> {{ usuario.email_user.email }} </li>
                <li><b>DNI:</b> {{ usuario.dni }} </li>
                <li><b>Fecha de reserva:</b> {{ dia_semana }}, {{ day }}-{{ month }}-{{ year }} </li>
                <li><b>Para el profesional:</b> {{ profesional.nombres }}</li>
            </ul>
        </div>
    </div>
    <form action="{% url 'reservas-reserva-create' year month day hora_inicio.hour hora_inicio.minute hora_fin.hour hora_fin.minute profesional.id usuario.email_user.id %}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <div class="card">
                    <div class="card-header">
                        <h5><b>Escriba una hora de salida y valida para consultar si se puede crear esta reserva.</b></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>
                                                <h6>La hora de inicio es {{ hora_inicio }} y puede reservar hasta {{ hora_fin_disponible }}</h6>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            {{ form.inicio_hora_reserva|as_crispy_field }}
                                                        </td>
                                                        <td>
                                                            {{ form.fin_hora_reserva|as_crispy_field }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                            <li>
                                                <h6>Precio hasta {{ hora_fin }}:  <b>S/.{{ precio_total }}</b> </h6>
                                                <h6>Precio por hora:  <b>S/.{{ precio_x_hora }} </b></h6>
                                            </li>
                                        </ul>
                                    </td>
                                    <td align="right">
                                        <button type="submit" class="btn btn-success" name="calcular-precio">
                                            Calcular
                                            <br>
                                            Precio
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        {% if errors %}
                            <li class="list-group-item">
                                <div class="alert alert-danger" role="alert">
                                    <b> {{ errors }} </b>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="card-header">
                        <h5><b>Si desea añada un descuento, seguidamente presione el boton Crear.</b></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <table width="100%">
                                <tr>
                                    <td width="35%">
                                        <ul>
                                            <li>
                                                {{ form.descuento|as_crispy_field }}
                                            </li>
                                        </ul>
                                    </td>
                                    <td align="right"><button type="submit" class="btn btn-primary" name="crear_button"><b>Crear</b></button></td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% if profesionales_disponibles %}
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <h4>Estos profesionales también están disponibles en ese horario</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <table class="text-center">
                        <tr>
                            {% for profesional_disponible in profesionales_disponibles %}
                                <td>
                                    <div class="card" style="min-width: 12rem;">
                                        <div class="card-header">
                                            <b>{{ profesional_disponible.nombres }}</b>
                                        </div>
                                        <br>
                                        Precio: {{ profesional_disponible.precio }}
                                        <br>
                                        <a href="{% url 'reservas-reserva-create' year month day hora_inicio.hour hora_inicio.minute hora_fin.hour hora_fin.minute profesional_disponible.id usuario.email_user.id %}" >Reservar</a>
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}