{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_list.css' %}">
{% load mathfilters %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
    {{ form.media }}
{% endblock %}


{% block content %}
    <div class="back-nav">
        <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <h1 class="module-title"><b>Disposicion de Profesionales</b></h1>
    <h3 class="module-title">{{ page_context }}</h3>
    <div class="previous-next-div">
        {% if get_day > today %}
            <div style='float: left;'>
                <a class="nav-item nav-link btn btn-primary" href="{% url 'reservas-reservas-dias' previous_week.year previous_week.month previous_week.day %}" role="tab" aria-controls="nav-contact" aria-selected="false">4 dias -</a>
                </a>
            </div>
        {% endif %}
        <div style='float: right;'>
            <a class="nav-item nav-link btn btn-primary" href="{% url 'reservas-reservas-dias' next_week.year next_week.month next_week.day %}" role="tab" aria-controls="nav-contact" aria-selected="false">4 dias +</a>
            </a>
        </div>
    </div>
    <br>
    <div>
        <div class="card" style="width: 80%; margin: 0 auto;">
            <div class="card-header">
                <nav>

                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        {% for dia in profesionales_por_dia %}
                            {% if dia == get_day %}
                                <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" href="#{{ dia|slugify }}" role="tab" aria-controls="nav-contact" aria-selected="false">{% language 'es' %}{{ dia }}{% endlanguage %}</a>
                            {% else %}
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#{{ dia|slugify }}" role="tab" aria-controls="nav-contact" aria-selected="false">{% language 'es' %}{{ dia }}{% endlanguage %}</a>
                            {% endif %}

                        {% endfor %}
                    </div>
                </nav>
            </div>
            <div class="card-body">
                <div class="tab-content" id="nav-tabContent">
                    {% for key, dia in profesionales_por_dia.items %}
                        {% if key == get_day %}
                            <div class="tab-pane fade show active" id="{{ key|slugify }}" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table table-striped text-center" style="width: 90%; margin: 0 auto;">
                                    <thead>
                                    <tr>
                                        <th><h5><b>Hora</b></h5></th>
                                        <th><h5><b>Profesionales</b></h5></th>
                                        <th><h5><b>Precio</b></h5></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for hora in dia %}
                                        <tr>
                                            <td style="vertical-align: middle"><h5><b>{{ hora.inicio }}:00 hrs. - {{ hora.inicio| addition:1 }}:00 hrs.</b></h5></td>
                                            <td class="text-left">
                                                {% for profesional in hora.profesionales_disponibles %}
                                                    <a href="{% url 'reservas-emailuser-search' key.year key.month key.day hora.inicio 0 profesional.id  %}" class="text-secondar">
                                                        {{ profesional.nombres|title }} {{ profesional.apellido_paterno|title }} {{ profesional.apellido_materno|title }}
                                                    </a>
                                                    <div style="border-bottom: 1px solid #cbcbcb;"></div>
                                                {% endfor %}
                                            </td>
                                            <td style="vertical-align: bottom">
                                                {% for profesional in hora.profesionales_disponibles %}
                                                    {{ profesional.precio }}
                                                    <div style="border-bottom: 1px solid #cbcbcb;"></div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="tab-pane fade" id="{{ key|slugify }}" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table table-striped text-center" style="width: 90%; margin: 0 auto;">
                                    <thead>
                                    <tr>
                                        <th><h5><b>Hora</b></h5></th>
                                        <th><h5><b>Profesionales</b></h5></th>
                                        <th><h5><b>Precio</b></h5></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for hora in dia %}
                                        <tr>
                                            <td style="vertical-align: middle"><h5><b>{{ hora.inicio }}:00 hrs. - {{ hora.inicio| addition:1 }}:00 hrs.</b></h5></td>
                                            <td class="text-left">
                                                {% for profesional in hora.profesionales_disponibles %}
                                                    <a href="{% url 'reservas-emailuser-search' key.year key.month key.day hora.inicio 0 profesional.id  %}" class="text-secondar">
                                                        {{ profesional.nombres|title }} {{ profesional.apellido_paterno|title }} {{ profesional.apellido_materno|title }}
                                                    </a>
                                                    <div style="border-bottom: 1px solid #cbcbcb;"></div>
                                                {% endfor %}
                                            </td>
                                            <td style="vertical-align: bottom">
                                                {% for profesional in hora.profesionales_disponibles %}
                                                    {{ profesional.precio }}
                                                    <div style="border-bottom: 1px solid #cbcbcb;"></div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

