{% extends 'base.html' %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_list.css' %}">
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <h1 class="module-title">Profesionales disponibles para el {{ date }}</h1>
    <h2 class="module-title">Hora: {{ page_context.hour }}:00</h2>
    <div class="previous-next-div">
        <div style='float: left;'>
            <a href="{% url 'reserva-profesional-fecha-hora-list' page_context.year page_context.month page_context.day page_context.hour %}" class="btn-editar btn btn-info">Una hora menos</a>
        </div>
        <div style='float: right'>
            <a href="{% url 'reserva-profesional-fecha-hora-list' page_context.year page_context.month page_context.day page_context.hour %}" class="btn-editar btn btn-info">Una hora mas</a>
        </div>
    </div>
    <h2 class="module-title">Profesionales Disponibles</h2>
    <div class="panel-group">
        <table class="table">
            <tr>
                <th>Nombre del profesional</th>
                <th>Precio</th>
                <th>Acción</th>
            </tr>
            {% for profesional in profesionales %}
                <tr>
                    <td><b>{{ profesional.nombres }}</b></td>
                    <td>S/. {{ profesional.precio }}</td>
                    <td><a class="btn btn-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">Mostrar horarios</a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                            <table class="table">
                                {% for minutos in profesional.intervalos_minutos %}
                                    <tr>
                                        <td>{{ page_context.hour }}:{{ minutos }}</td>
                                        <td><a class="btn btn-primary" href="{% url 'reservas-emailuser-search' page_context.year page_context.month page_context.day page_context.hour minutos profesional.id %}">Seleccionar horario</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

