{% extends 'base.html' %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_list.css' %}">
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" href="{% url 'home-enterprise-view' %}"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <h1 class="module-title">Reservas</h1>
    <table align="center">
        <tr>
            <td>
                <h2><a class="nav-link" href="{% url 'reservas-buscador-reservas' %}">Buscar Reservas</a></h2>
                <a href="{% url 'reservas-buscador-reservas' %}" class="add-new-object"><img alt="+" src="{% static 'static/search_icon.svg' %}" class="centered-add centered-add-hover"></a>
            </td>
            <td>
                <h2><a class="nav-link" href="{% url 'reservas-reserva-dia' %}">Crear Reservas</a></h2>
                <a href="{% url 'reservas-reserva-dia' %}" class="add-new-object"><img alt="+" src="{% static 'static/add_icon.svg' %}" class="centered-add centered-add-hover"></a>
            </td>
        </tr>
    </table>
{% endblock %}

