{% extends 'base.html' %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/servicios/cancha_list.css' %}">
{% endblock %}

{% block content %}
    <div class="back-nav">
        <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <h1 class="module-title">Horario por Fecha</h1>
    <h3 class="module-title">{{ page_context }}</h3>
    <div class="previous-next-div">
        {% if today < page_context %}
            <div style='float: left;'>
                <a href="{% url 'reserva-profesional-fecha-list' yesterday.year yesterday.month yesterday.day %}" class="btn-editar btn btn-info">
                    Ayer
                    <br>
                    {{ yesterday }}
                </a>
            </div>
        {% endif %}
        <div style='float: right;'>
            <a href="{% url 'reserva-profesional-fecha-list' tomorrow.year tomorrow.month tomorrow.day %}" class="btn-editar btn btn-info">
                Mañana
                <br>
                {{ tomorrow }}
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped table-sm" align="center" style="width: 35%" >
        <thead class="thead-dark-theme">
        <tr>
            <th class="module-title">Hora inicio</th>
            <th class="module-title">Profesionales disponibles</th>
        </tr>
        </thead>
        <tbody>
        {% for hora in horas %}
            <tr>
                <td align="center">{{ hora.inicio }}:00</td>
                <td align="center"><a href="{% url 'reserva-profesional-fecha-hora-list' page_context.year page_context.month page_context.day hora.inicio %}">{{ hora.profesionales_disponibles }} Profesionales</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

