{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}
{% block content %}
    <div class="back-nav">
        <a style="float: left;" onClick="javascript:history.go(-1);"> <img alt="<-" src="{% static 'static/back_icon.svg' %}" width="40" height="40" class="centered-add-hover"> </a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    <h3 class="card-title"><b>Detalle de reserva Nro: {{ reserva.id }}</b></h3>
                </div>
                <div class="card-body" style="padding: 0px;">
                    <div class="row text-center">
                        <div class="col-lg-6">
                            <h5 class="card-text"><b>Para la fecha: </b>{{ reserva.fecha }}</h5>
                            <h5 class="card-text"><b>Desde: </b>{{ reserva.inicio_hora_reserva }}, <b>hasta: </b>{{ reserva.fin_hora_reserva }}</h5>
                            <h5 class="card-text"><b>Profesional: </b>{{ reserva.profesional.nombres }} {{ reserva.profesional.apellido_paterno }} {{ reserva.profesional.apellido_materno }}</h5>
                            {% if reserva.descuento == 0 %}
                                <h5 class="card-text"><b>Sin descuento</b></h5>
                            {% else %}
                                <h5 class="card-text"><b>Descuento: </b>{{ reserva.descuento }}</h5>
                            {% endif %}
                        </div>
                        <div class="col-lg-6">
                            <h5 class="card-text"><b>Para el usuario: </b>{{ reserva.email_user.email }}</h5>
                            <h5 class="card-text"><b>Precio Total: </b>{{ reserva.precio_total }}</h5>
                            <h5 class="card-text"><b>Precio por hora: </b>{{ reserva.precio_hora }}</h5>
                            <h5 class="card-text"><b>Estado: </b>{{ reserva.get_estado_display }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <table style="width: 100%">
                        <tr>
                            <td class="text-center" style="width: 50%;"><h4><b>Pregunta respecto al Profesional</b></h4></td>
                            <td class="text-center" style="width: 50%;"><h4><b>Alternativas</b></h4></td>
                        </tr>
                    </table>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="card-body" style="padding: 0px;">
                        <table style="width: 100%;">
                            {% for pregunta in preguntas %}
                                <tr>
                                    <td class="text-center"><p>{{ pregunta.texto }}</p></td>
                                    <td class="text-center">
                                        {% if pregunta.get_alternativas %}
                                            {% for alternativa in pregunta.get_alternativas %}
                                                {% get_respuesta alternativa.id reserva.id as respuesta %}
                                                {% if respuesta %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="{{ pregunta.id }}" id="{{alternativa.id}}" value="{{ alternativa.id }}" checked>
                                                        <label class="form-check-label" for="{{alternativa.id}}">{{alternativa.texto}}</label>
                                                    </div>
                                                {% else %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="{{ pregunta.id }}" id="{{alternativa.id}}" value="{{ alternativa.id }}">
                                                        <label class="form-check-label" for="{{alternativa.id}}">{{alternativa.texto}}</label>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="card-footer">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 100%" class="text-left"><a href="{% url 'reservas-home' %}" class="card-link btn-primary btn">Salir</a></td>
                                <td style="width: 100%" class="text-right"><button class="btn-primary btn" type="submit">Enviar Respuestas</button></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}