{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestión Citas</title>
</head>
<body>
</body>
</html>
<html>
<head>
    <title>Gestión de Citas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{% static 'js/base.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block extra_styles %}
    {% endblock %}
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

<nav class="navbar navbar-expand-lg navbar-dark"  role="navigation" style="background-color: {{ color_nav_bar }}">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if email_principal.type_user == 'a' and company_logo  %}
                    <img src="{{ company_logo }}" class="brand-logo" width="40" height="40" >
                {% else  %}
                    <img src="{% static 'static/home-default-icon-1.png' %}" width="40" height="40" >
                {% endif %}
                </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if email_principal.is_anonymous %}
                     <a class="dropdown-item" href="#">Editar Perfil</a>
                     <a class="dropdown-item" href="#">Cambiar Contraseña</a>
                  {% else  %}
                     <a class="dropdown-item" href="{% url 'editar-client-datospersonales' user.id %}">Editar Perfil</a>
                     <a class="dropdown-item" href="{% url 'editar-usuario-contrasena' user.id %}">Cambiar Contraseña</a>
                     <a class="dropdown-item" href="{% url 'contagio-create' %}">Reportar Cuarentena</a>
                  {% endif %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Salir</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if email_principal.type_user == 'a' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'servicios_profesionales_list' %}"><b>Profesionales</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reservas-home' %}"><b>Reservas</b></a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% if email_principal.type_user != 'a' %}
    <div class="navbar-collapse collapse order-3 dual-collapse2">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rubro</button>
                <div class="dropdown-menu">
                    {% for tipo_servicio in tipos_servicio %}
                        <p class="dropdown-item">{{tipo_servicio.tipo_servicio}}</p>
                    {% endfor %}
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Busca por el nombre de una Empresa" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append" >
                <button class="btn btn-outline-secondary" type="button"><img src="{% static 'static/white_search_icon.svg' %}" height="25" width="25"/></button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="navbar-collapse collapse order-3 dual-collapse2">
        {% if email_principal.is_anonymous %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'site-login' %}"><b>Ingreso</b></a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>Acerca</b></a>
                </li>
                -->
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if email_principal.type_user == 'a' %}
                        <a class="nav-link" href="{% url 'servicios-empresa-edit' user.id  %}"><b>{{ email_principal }}</b></a>
                    {% else %}
                        <a class="nav-link" href="{% url 'editar-client-datospersonales' user.id  %}"><b>{{ email_principal }}</b></a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'site-logout' %}"><b>Salir</b></a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
<div>
    {% block content  %}


    {% endblock %}
</div>

<footer class="footer">
    <div class="index-footer text-center">
        <table style="width: 20%; margin-left:auto; margin-right:auto;">
            <tr>
                <td style="width: 20%"><a href="#" class="fa fa-facebook"></a></td>
                <td style="width: 20%"><a href="#" class="fa fa-youtube"></a></td>
                <td style="width: 20%"><a href="#" class="fa fa-instagram"></a></td>
                <td style="width: 20%"><a href="#" class="fa fa-pinterest"></a></td>
                <td style="width: 20%"><a href="#" class="fa fa-twitter "></a></td>
            </tr>
        </table>
        <br>
        Politicas de Pivacidad <br> <br>
        <h3> Buscanos en Internet en <a href="#">www.citas.net</a></h3>
        <p class="text-muted">Por SSSS.srl</p>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.5.5/jquery.smooth-scroll.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>