{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/servicios/home_enterprise.css' %}">
{% endblock %}

{% block content %}
    <div class="parallax" id="section-1" style="background: url({% static 'static/index/main_background.jpg' %}) no-repeat fixed 50% 0; background-size: cover; color: #fff;">
        <hgroup>
            <h5 style="font-size: 2rem; font-family: 'Arial Black'"><b>Profesionales Disponibles</b></h5>
            <div style="border:5px solid #DA413F; padding:1em;">
            {% if profesionales %}
                <div class="list-group">
                    {% for profesional in profesionales %}
                        <a href="{% url 'servicios-profesionales-edit' profesional.id %}" class="list-group-item list-group-item-action list-group-item-dark" style="color: black; padding: 1px 1px;">
                            <table style="width:100%">
                                <tr>
                                    <td class="text-left" style="width:auto;">{{ profesional.nombres|title }} {{ profesional.apellido_paterno|title }} {{ profesional.apellido_materno }}</td>
                                    <td class="text-right" style="width:auto;">
                                        <div class="rating">
                                            {% if profesional.calcular_puntaje <= 5 and profesional.calcular_puntaje > 4  %}
                                                <label class = "full" for="star5" title="Genial" style="color: #FFD700;"></label>
                                                <label class = "full" for="star4" title="Bueno" style="color: #FFD700;"></label>
                                                <label class = "full" for="star3" title="Regular" style="color: #FFD700;"></label>
                                                <label class = "full" for="star2" title="Malo" style="color: #FFD700;"></label>
                                                <label class = "full" for="star1" title="Pésimo" style="color: #FFD700;"></label>
                                            {% elif profesional.calcular_puntaje <= 4 and profesional.calcular_puntaje > 3 %}
                                                <label class = "full" for="star5" title="Genial"></label>
                                                <label class = "full" for="star4" title="Bueno" style="color: #FFD700;"></label>
                                                <label class = "full" for="star3" title="Regular" style="color: #FFD700;"></label>
                                                <label class = "full" for="star2" title="Malo" style="color: #FFD700;"></label>
                                                <label class = "full" for="star1" title="Pésimo" style="color: #FFD700;"></label>
                                            {% elif profesional.calcular_puntaje <= 3 and profesional.calcular_puntaje > 2 %}
                                                <label class = "full" for="star5" title="Genial"></label>
                                                <label class = "full" for="star4" title="Bueno"></label>
                                                <label class = "full" for="star3" title="Regular" style="color: #FFD700;"></label>
                                                <label class = "full" for="star2" title="Malo" style="color: #FFD700;"></label>
                                                <label class = "full" for="star1" title="Pésimo" style="color: #FFD700;"></label>
                                            {% elif profesional.calcular_puntaje <= 2 and profesional.calcular_puntaje > 1 %}
                                                <label class = "full" for="star5" title="Genial"></label>
                                                <label class = "full" for="star4" title="Bueno"></label>
                                                <label class = "full" for="star3" title="Regular"></label>
                                                <label class = "full" for="star2" title="Malo" style="color: #FFD700;"></label>
                                                <label class = "full" for="star1" title="Pésimo" style="color: #FFD700;"></label>
                                            {% elif profesional.calcular_puntaje <= 1  and profesional.calcular_puntaje > 0 %}
                                                <label class = "full" for="star5" title="Genial"></label>
                                                <label class = "full" for="star4" title="Bueno"></label>
                                                <label class = "full" for="star3" title="Regular"></label>
                                                <label class = "full" for="star2" title="Malo"></label>
                                                <label class = "full" for="star1" title="Pésimo" style="color: #FFD700;"></label>
                                            {% elif profesional.calcular_puntaje == 0 %}
                                                <label class = "full" for="star5" title="Genial"></label>
                                                <label class = "full" for="star4" title="Bueno"></label>
                                                <label class = "full" for="star3" title="Regular"></label>
                                                <label class = "full" for="star2" title="Malo"></label>
                                                <label class = "full" for="star1" title="Pésimo"></label>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <a href="{% url 'servicios-profesionales-create' %}" class="add-new-object"><img alt="+" src="{% static 'static/add_icon.svg' %}" width="50" height="50" class="centered-add centered-add-hover"></a>
            {% endif %}
            </div>
            <a href="{% url 'servicios_profesionales_list' %}" class="text-reset text-white"><h2><b>Lista de Profesionales: {{ profesionales|length }}</b></h2></a>
        </hgroup>
    </div>

    <div class="index-sub-title">
        Mi perfil de Compañia.
    </div>

    <div class="d-flex justify-content-center">
        <div class="p-2">
            <div class="card text-white bg-secondary mb-3 text-center">
                <div class="card-header">
                    <div class="card-title">
                        <h1>{{ email_principal.empresa.nombre|capfirst }}</h1>
                        <h3>Servicio: {{ email_principal.empresa.tipo_servicio|title }}</h3>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-dark">
                        <h4><b>RUC: </b>{{ email_principal.empresa.ruc }}</h4>
                    </li>
                    <li class="list-group-item list-group-item-dark">
                        <h4><b>Telefono: </b>{{ email_principal.empresa.telefono }}</h4>
                    </li>
                    <li class="list-group-item list-group-item-dark">
                        <h4><b>Representante: </b>{{ email_principal.empresa.representante|title }}</h4>
                    </li>
                    <li class="list-group-item list-group-item-dark">
                        <h4><b>Hora apertura: </b>{{ email_principal.empresa.hora_apertura }} <b>Hora cierre: </b>{{ email_principal.empresa.hora_cierre }}</h4>
                    </li>
                    <li class="list-group-item list-group-item-dark">
                        <h4>
                            <b>Dirección: </b>{{ email_principal.empresa.direccion|title }}
                            <br>
                            {{ email_principal.empresa.distrito }} - {{ email_principal.empresa.distrito.provincia.nombre }} - {{ email_principal.empresa.distrito.provincia.departamento.nombre }}
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="index-sub-title">
        Reservas
    </div>

    <div class="parallax" id="section-2" style="background: url({{ config_imagen_pagina_principal }}) no-repeat fixed 50% 0; background-size: cover; color: #fff;" >
        <hgroup>
            <a href="{% url 'servicios_profesionales_list' %}" class="text-white"><h1>Reservas</h1></a>
            <h2>Reservas hechas en el dia: {{ reservas_dia }}</h2>
        </hgroup>
    </div>

    <div class="index-sub-title">
        OTROS
    </div>

    <div class="row">
        <div class="col-6 text-center">
            <h1>Configuración</h1>
            <p>Para personalizar esta página, dale click <a href="{% url 'personalizationpage' %}">aqui</a></p>

        </div>
        <div class="col-6 text-center">
            <h1>Estadisticas</h1>
            <p>Para ver las estadisticas, dale click <a href="{% url 'estadisticas-list' %}">aqui</a></p>
        </div>
    </div>
{% endblock %}