{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/servicios/home_enterprise.css' %}">
{% endblock %}

{% block content %}
    <div class="parallax" id="section-1" style="background: url({% static 'static/index/main_background.jpg' %}) no-repeat fixed 50% 0; background-size: cover; color: #fff;">
        <hgroup>
            <h5 style="font-size: 2rem; font-family: 'Arial Black'"><b>Reservas vigentes</b></h5>
            <div style="border:5px solid #DA413F; padding:1em;">
                {% if reservas_vigentes %}
                    <div class="list-group">
                        {% for reserva in reservas_vigentes %}
                            <a href="{% url 'reservas-resumen-reserva' reserva.id %}" class="list-group-item list-group-item-action list-group-item-dark" style="color: black; padding: 1px 1px;">
                                <table style="width:100%">
                                    <tr>
                                        <td class="text-left" style="width:auto;">{{ reserva.profesional.nombres|title }} {{ reserva.profesional.apellido_paterno|title }} {{ reserva.profesional.apellido_materno }}</td>
                                        <td class="text-right" style="width:auto;">
                                            <div class="rating">
                                                {% if reserva.reviews.puntaje <= 5 and reserva.reviews.puntaje > 4  %}
                                                    <label class = "full" for="star5" title="Genial" style="color: #FFD700;"></label>
                                                    <label class = "full" for="star4" title="Bueno" style="color: #FFD700;"></label>
                                                    <label class = "full" for="star3" title="Regular" style="color: #FFD700;"></label>
                                                    <label class = "full" for="star2" title="Malo" style="color: #FFD700;"></label>
                                                    <label class = "full" for="star1" title="Pésimo" style="color: #FFD700;"></label>
                                                {% elif reserva.reviews.puntaje <= 4 and reserva.reviews.puntaje > 3 %}
                                                    <label class = "full" for="star5" title="Genial"></label>
                                                    <label class = "full" for="star4" title="Bueno" style="color: #FFD700;"></label>
                                                    <label class = "full" for="star3" title="Regular" style="color: #FFD700;"></label>
                                                    <label class = "full" for="star2" title="Malo" style="color: #FFD700;"></label>
                                                    <label class = "full" for="star1" title="Pésimo" style="color: #FFD700;"></label>
                                                {% elif reserva.reviews.puntaje <= 3 and reserva.reviews.puntaje > 2 %}
                                                    <label class = "full" for="star5" title="Genial"></label>
                                                    <label class = "full" for="star4" title="Bueno"></label>
                                                    <label class = "full" for="star3" title="Regular" style="color: #FFD700;"></label>
                                                    <label class = "full" for="star2" title="Malo" style="color: #FFD700;"></label>
                                                    <label class = "full" for="star1" title="Pésimo" style="color: #FFD700;"></label>
                                                {% elif reserva.reviews.puntaje <= 2 and reserva.reviews.puntaje > 1 %}
                                                    <label class = "full" for="star5" title="Genial"></label>
                                                    <label class = "full" for="star4" title="Bueno"></label>
                                                    <label class = "full" for="star3" title="Regular"></label>
                                                    <label class = "full" for="star2" title="Malo" style="color: #FFD700;"></label>
                                                    <label class = "full" for="star1" title="Pésimo" style="color: #FFD700;"></label>
                                                {% elif reserva.reviews.puntaje <= 1  and reserva.reviews.puntaje > 0 %}
                                                    <label class = "full" for="star5" title="Genial"></label>
                                                    <label class = "full" for="star4" title="Bueno"></label>
                                                    <label class = "full" for="star3" title="Regular"></label>
                                                    <label class = "full" for="star2" title="Malo"></label>
                                                    <label class = "full" for="star1" title="Pésimo" style="color: #FFD700;"></label>
                                                {% elif reserva.reviews.puntaje == 0 %}
                                                    <label class = "full" for="star5" title="Genial"></label>
                                                    <label class = "full" for="star4" title="Bueno"></label>
                                                    <label class = "full" for="star3" title="Regular"></label>
                                                    <label class = "full" for="star2" title="Malo"></label>
                                                    <label class = "full" for="star1" title="Pésimo"></label>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <h3><b>Ninguna Reserva</b></h3>
                {% endif %}
            </div>
            <a href="#" class="text-reset text-white"><h2><b>Todas tu reservas: {{ profesionales|length }}</b></h2></a>
        </hgroup>
    </div>

    <div class="index-sub-title">
        Reservas sin Reseña
    </div>
    <div class="row">
        {% if reservas_sin_resena %}
            {% for reserva in reservas_sin_resena %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="module-title"><b>{{ reserva.profesional.nombres }} {{ reserva.profesional.apellido_paterno }} {{ reserva.profesional.apellido_materno }}</b></h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">fecha Reserva:{{ reserva.fecha }}</p>
                        <p class="card-text last-text">Hora: desde {{ reserva.inicio_hora_reserva }}, hasta {{ reserva.fin_hora_reserva }}</p>
                        <p class="card-text last-text">Precio Total: {{ reserva.precio_total }}</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{% url 'reservas-resumen-reserva' reserva.id %}" class="btn btn-primary" >Detalle reserva</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="card" style="margin: 0 auto;">
                <div class="card-header">
                    <h3 class="module-title"><b>Reservas pendientes</b></h3>
                </div>
                <div class="card-body text-center">
                    <h3><b>Ninguna</b></h3>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="parallax" id="section-2" style="background: url({% static 'static/index/main_background.jpg' %}) no-repeat fixed 50% 0; background-size: cover; color: #fff;" >
        <hgroup>
            <h5 style="font-size: 2rem; font-family: 'Arial Black'"><b>Empresas favoritas</b></h5>
            <div style="border:5px solid #DA413F; padding:1em;">
                <ul class="list-group">
                    {% for empresa_favorita in empresas_favoritas %}
                        <li class="list-group-item">{{empresa_favorita.empresa.nombre|title}}</li>
                    {% endfor %}
                </ul>
            </div>
        </hgroup>
    </div>

    <div class="d-flex justify-content-center">
        <div class="p-2">
            <div class="card text-white bg-secondary mb-3 text-center">
                <div class="card-header">
                    <div class="card-title">
                        <h1>Mi Perfil</h1>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-dark">
                        <h4><b>Nombre: </b>{{ datos_personales.nombres }} {{ datos_personales.apellido_paterno }} {{ datos_personales.apellido_materno }}</h4>
                    </li>
                    <li class="list-group-item list-group-item-dark">
                        <h4><b>Email: </b>{{ datos_personales.email_user.email }}</h4>
                    </li>
                    <li class="list-group-item list-group-item-dark">
                        <h4><b>Telefono: </b>{{ datos_personales.telefono }}</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}