{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/home/home_questionaire.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
        <div class="parallax" id="section-1" style="background: url({% static 'static/index/main_background.jpg' %}) no-repeat fixed 50% 0; background-size: cover; color: #fff;">
            <hgroup>
                <h5 style="font-family: 'Arial Black'; font-size: 2vw;"><b>GESIONA TU AGENDA ELECTRONICAMENTE</b></h5>
                <div style="border:5px solid #DA413F; padding:1em; margin-right: auto;margin-left: auto;">
                    <h1 style="font-size: 7vw; font-family: 'Arial Black'">AGSEL</h1>
                </div>
                <h5 style="font-size: 2vw;">Busca tus servicios de siempre, con una seguridad
                    <br> que se ajusta a la nueva normalidad.</h5>
            </hgroup>
        </div>
    </div>

    <div class="index-sub-title">
        <a href="{% url 'servicios-list' %}" class="home-header-urls">BUSQUEDA POR RUBROS</a>
    </div>

    <div class="row text-center">
        {% for tipo_servicio in tipos_servicio %}
            {% thumbnail tipo_servicio.imagen "200x200" as im %}
                <div class="col-md-4">
                    <img src="{{ im.url }}" alt="" style=" border-radius: 50%;">
                    <h1 style="vertical-align: bottom">{{ tipo_servicio.tipo_servicio|title }}</h1>
                </div>
            {% endthumbnail %}
        {% endfor %}
    </div>

    <div class="index-sub-title">
        REGISTRATE COMO:
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 text-center"style="background-color: #da413f";>
                <a href="{% url 'registro-nuevos-usuario-administrador' %}">
                    <div class="index-type-user-container">
                        <div class="row">
                            <div class="col-12 text-center"><h2><b style="color: white">EMPRESA</b></h2></div>
                            <div class="col-8 text-left" style="color: white"><h5><br>Organiza la atención de tus clientes con esta agenda electrónica de forma fácil y ordenada garantizando la salud de tus trabajadores y clientes.</h5></div>
                            <div class="col-4"><br><img class="img-fluid" src="{% static 'static/index/empresa-icon.png' %}" alt="" height="100%" width="100%"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 text-center" style="background-color: #48a3be;">
                <a href="{% url 'registro-nuevos-usuario-cliente' %}">
                    <div class="index-type-user-container">
                        <div class="row">
                            <div class="col-12 text-center"><h2><b style="color: white">CLIENTE</b> </h2></div>
                            <div class="col-8 text-left" style="color: white"><h5><br>Busca y reserva tus servicios de manera fácil y segura. Encuentra al profesional que más se adecue a tus necesidades y se atendido sin esperas ni aglomeraciones.</h5></div>
                            <div class="col-4"><br><img class="img-fluid" src="{% static 'static/index/clientes-icon.png' %}" alt="" height="100%" width="100%"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
        <div class="parallax" id="section-2" style="background: url({% static 'static/index/main_footer_background.jpg' %}) no-repeat fixed 100% 0; background-size: cover; color: #fff; height: 80vh" >
            <hgroup>
                <a href="{% url 'home_question_user' %}" class="home-questions">¿Preguntas?</a><br>


                <img src="{% static 'static/index/ministerio_salud.jpg' %}" alt="Ministerio de Salud">
                <p style="font-family: 'Century Gothic'; font-size: 35px"><b>
                    COVID-19 <br></b>
                    Seamos responsables, si presentas síntomas <br>
                    llama al 113 y mantente aislado hasta <br>
                    descartar que estas totalmente sano. <br>
                </p>
                <br>
            </hgroup>
        </div>
    </div>
{% endblock %}