.btn-editar {
    bottom: 10px;
    /*position: absolute;*/
}
.btn-left {
    float: left;
}
.btn-right {
    float: right;
}
.last-text {
    margin-bottom: 40%
}
.center-card {
    width: 25%;
    float: left;
}
.centered-add {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.centered-add-hover:hover {
    opacity: 0.5;
}
.thead-dark-theme{
    background-color: #343a40;
    color: white;
}