{% extends 'base.html' %}

{% load static %}
{% autoescape off %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email de confirmacion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
            <img src="{% static 'static/sent_mail.svg' %}" alt="Creating Email Magic" width="300" height="230" style="display: block;" />
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
            <table border="1" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td>
                        App de Gestion de citas lo saluda !
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px 0 30px 0;">
                        Nos complace darle la bienvenida a App de Gestion de Citas {{ user.username }},
                        Por favor haga click en el siguiente enlace para confirmar su registro:
                        <a href="{% url 'activate' uid token %}">Confirmar</a>
                    </td>
                </tr>
                <tr>
                    <table border="1" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="260" valign="top">
                                Preguntas frecuentes
                            </td>
                            <td style="font-size: 0; line-height: 0;" width="20">
                                &nbsp;
                            </td>
                            <td width="260" valign="top">
                                Quienes somos ?
                            </td>
                        </tr>
                    </table>
                <tr>
                    <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
                        <table border="1" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="75%">
                                    &reg; Michaelsoft 2013<br/>
                                    Yo no suscribi ningun mail
                                </td>
                                <td  width="25%" align="right">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a href="http://www.twitter.com/">
                                                    <img src="images/tw.gif" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
                                                </a>
                                            </td>
                                            <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                            <td>
                                                <a href="http://www.twitter.com/">
                                                    <img src="images/fb.gif" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
{% endblock %}
{% endautoescape %}
